<html>
<head>
	<title> Sammy Search </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
	input {
		width: 400px;
		height: 40px;
    	padding: 0 20px;
	}
	button {
		height: 40px;
    	padding: 0 20px;
	}

	
	</style>
</head>

<body class="site-hero overlay" data-stellar-background-ratio="0.5" style="Background-image:url('https://www.img.in.th/images/eff7ef5775e1cd23d7118f2c492c94eb.jpg')">
		
		<center> <img src="https://www.img.in.th/images/f5bb2e54e499564a361bc9a37fec7862.png" alt="TJzg3l.jpg" border="0" />
		
	<div class="topnav">
			<div class="search-container">
				<form action = "http://35.240.160.229/result" method ="POST">
				  <input type="text" placeholder="Search.." name="Search">
				  <button type="submit" value = "Search"><i class="fa fa-search"></i></button></center>
				</form>
			</div>
		  </div>
</body>
</html>
	